/* CSS RESET -  https://www.joshwcomeau.com/css/custom-css-reset/*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* END CSS RESET */

:root {
  --dark-grey: #1f2232;
  --light-grey: #596475;
  --dark-orange: #da7639;
  --light-grey: #dee1f1;
  --light-orange: #ff8c42;
}

body {
  background-color: var(--dark-grey);
  color: black;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  /* grid-template-rows: 1fr 1fr 3fr 3fr 2fr; */
  gap: 20px;
  height: 80vh;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  gap: 3%;
  background-color: var(--light-grey);
  padding: 0px 20px 0 20px;
  border-radius: 15px;
}
.title-container {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.degree-container {
  grid-column: 3/4;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
  grid-column: 2/3;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.input-container form {
  width: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.input-container input {
  width: 70%;
  margin: 0px 0px 0px 10px;
  height: 40px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
}

.input-container button {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 40px;
  border: none;
  padding: 0px 10px 0 10px;
  background-color: var(--light-orange);
}

.input-container button:hover {
  cursor: pointer;
  background-color: var(--dark-orange);
}

.location-display {
  grid-column: 2/3;
}

.location-display {
  grid-column: 2/3;
  background-color: var(--light-grey);
  padding: 0px 20px 0 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 4em;
  text-transform: capitalize;
}

.current-container {
  grid-column: 3/4;
  background-color: var(--light-grey);
  padding: 0px 20px 0 20px;
  border-radius: 15px;
}

.week-container {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1%;
}

.day-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--light-grey);
  padding: 0px 20px 0 20px;
  border-radius: 15px;
}

.active-day {
  background-color: var(--dark-orange);
  scale: 110%;
}

.day-container:hover {
  scale: 115%;
}

.hours-container {
  margin-top: 10px;
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 1%;
  overflow-x: scroll;
  height: 20vh;
}

.hour-container {
  background-color: var(--light-grey);
  padding: 0px 15px 0 15px;
  border-radius: 15px;
  margin-bottom: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 40px;
  margin: 0px 10px 0px 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--dark-orange);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}
